body{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: floralwhite;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.backTo p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.backTo .backToHome{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: chartreuse;
    max-width: 350px;
    margin: 0 auto;
    color: black;
}

.description , .ingredients , .directions , .ty {
    max-width: 850px;
    margin: 0 auto;
    font-size: 20px;
}

.description , .ingredients , .ty {
    text-align: center;
}

li{
    display: block;
    margin-bottom: 5px;
}

.directions h2 {
    text-align: center;
}

.ty{
    margin: 20px;
    font-weight: bold;
}